<h1 style="text-align: center; text-decoration-line: underline;">{{title}}</h1>

<ul class="beers-display">
  {{#each beers}}
    <li class="beer-card">
      <div class="beer-card-content">
        <a href="/beers/{{this._id}}">
          <img src="{{this.image_url}}" alt="{{this.name}}" class="beer-img"></a>
          <h3>{{this.name}}</h3>
        
        <p>{{this.tagline}}</p>
      </div>
    </li>
  {{/each}}
</ul>